@import url("https://fonts.googleapis.com/css2?family=Gurajada&display=swap");
*::selection{
    color: blue;
    background-color: rgb(233, 233, 255);
}


.mainHeading{
    font-size: 3.1rem;
}

li{
    list-style: none;
}

.steps{
    font-size: 2.40rem;
    font-family: "Gurajada", serif;
}